.remove-img {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.swal {
    background-color: rgba(255, 255, 255, 0.199);
}

@media only screen and (max-width: 550px){

    .swal-modal {
        height: auto;
        width: 80%;
        flex-wrap: nowrap;
    }
    .swal-title {
        font-size: 20px;
    }
    .swal-text {
        font-size: 15px;
    }
    .swal-button.swal-button--cancel {
        font-size: 12px;
    }
    .swal-button.swal-button--confirm.swal-button--danger {
        font-size: 10px;
}
}